
button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.custom-btn {
    border: 3px solid #C9A982;
    color: #C9A982;
    background-color: white;
    padding: 4px 12px;
    margin-top: 0%;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btn.text-light{
    background-color: #C9A982;
}

.text-light:hover{
    background-color: rgb(134, 112, 86);
}

.tag.test{
    background-color: #C9A982;
}

.lead{
    font-weight: 700 !important;
}

.modal{
    color:#8D7B65 ;
}

.modal-body{
    padding-top: 0%  !important;
    margin-top: 0% !important;
}
/* 
.btn.btn-outline-secondary{
    border-width: 3px;
    border-color: rgb(172, 144, 113) !important;
}

.btn.btn-outline-secondary:hover{
    background-color: rgb(138, 123, 107);
    
} */