

div.row{
    display: flex;
    align-items: center;
}

img.rounded-circle1 {
    border-radius: 70px;
    width: 80px;
    margin: 8px 8px 3px 30px;
    object-fit: cover;
}

.card .text-muted {
    font-size: smaller;
}

.card-img-top{
    height: 400px;
}

@media (max-width: 576px){
    .card p{
        font-size: smaller;
    }

    .card .text-muted {
        font-size: x-small;
    
    }.card-img-top{
        height: 150px;
    }


}

.text-light{
   background-color: #C9A982;
}


.text-light:hover{
    background-color: rgb(134, 112, 86);
 }