

 .profile{
    background-image: url(../Img/profilebg.jpg);
    Background-size:cover;
    Background-repeat:no-repeat;
    display: flex;
    justify-content:end;
    align-items: flex-end;
}

.profileimage{
    margin: 18% 0% 2% 2%;
    width: 150px;
    border-radius: 100px;
}

.username{
    padding-bottom: 4%;
    padding-left: 2%;
}

.row{
    padding: 0% !important;
    margin: 0% !important;
}

.jumbotron{
    background-color: white !important;
    padding: 15px 0% 15px 0% !important;
}


.fa-2x{
    margin:15px 0px 0px 188px;
}

.rowicon{
    text-align: center;
}
