

.profile{
    background-image: url(../Img/profilebg.jpg);
    width: 100%;
    display: flex;
    justify-content:end;
    align-items: flex-end;
}

.profileimage{
    margin: 18% 0% 2% 2%;
    width: 150px;
    border-radius: 100px;
}

.username{
    padding-bottom: 4%;
    padding-left: 2%;
}