@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body{
    background-color:#fffafa ;
}


strong{
    font-family:'Parisienne', cursive;
    font-size: 26px;
}

b{
    color: rgb(255, 255, 255);
}

b:hover{
    color: rgb(214, 186, 161);
}

.itemnav{
    color: white;
}
