.cardform{

}

.text-light{
    background-color: #C9A982;
}

.text-light:hover{
    background-color:rgb(134, 112, 86)
}

.yourStyle{
    background: rgba(0, 0,0, 0.4);
    background-image: url(../Img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}